<p>
    <mat-toolbar color="primary">
        <span class="ml-5">Crypto Exchange</span>
    </mat-toolbar>
</p>
<div class="custom-container mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 p-3 rounded-lg file-selector">
            <div class="rounded-lg bg-color p-2">
                <mat-card-title>Send Ether</mat-card-title>
                <mat-divider></mat-divider>

                <div class="row">
                    <div class="col-2 mt-4 ml-2">
                        <mat-icon class="icon-display">account_circle</mat-icon>
                    </div>
                    <div class="col-8 mt-4">
                        <p>Current account</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 mt-4 ml-2">
                        <mat-icon class="icon-display">key</mat-icon>
                    </div>
                    <div class="col-8 mt-4 small">
                        {{ currentAccount }}
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="row">
                    <div class="col-2 mt-4 ml-2">
                        <mat-icon class="icon-display">account_circle</mat-icon>
                    </div>
                    <div class="col-8 mt-4">
                        <p>Sending to</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 mt-4 ml-2 justify-content-center align-self-center">
                        <mat-icon class="icon-display">key</mat-icon>
                    </div>
                    <div class="col-8 mt-4">
                        <mat-form-field class="full-width">
                            <mat-label>Address</mat-label>
                            <input type="text" matInput [formControl]="addressFormControl"
                                placeholder="Ex. 0x48a1DC42AdbB87991F9e3b7C53D16E9fEF0b9ED7m">
                            <mat-error *ngIf="addressFormControl.hasError('pattern') && !addressFormControl.hasError('required')">
                                Please enter a valid address
                            </mat-error>
                            <mat-error *ngIf="addressFormControl.hasError('required')">
                                Address is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mt-4 ml-2">
                        <mat-icon class="icon-display">payments</mat-icon>
                    </div>
                    <div class="col-8">
                        <mat-form-field class="full-width">
                            <mat-label>Ether amount</mat-label>
                            <input type="number" matInput [formControl]="etherFormControl">
                            <mat-error *ngIf="etherFormControl.hasError('required')">
                                Ether amount is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="etherFormControl.hasError('min')">
                                Enter a <strong>positive number</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <button mat-raised-button color="primary" 
                        class="mt-2"
                        [disabled]="addressFormControl.hasError('pattern') || 
                        addressFormControl.hasError('required') || 
                        etherFormControl.hasError('required') ||
                        etherFormControl.hasError('min')"
                        (click)="sendEther()">
                        Send &nbsp;
                        <mat-icon class="icon-display ml-2 mb-1">send</mat-icon>
                </button>

            </div>
        </div>

        <div class="col-lg-6 col-md-12 mt-lg-0 mt-5 p-3">
            <div class="rounded-lg bg-color p-2">
                <mat-card-title>Address list</mat-card-title>

                <mat-divider></mat-divider>

                 <div class="row">
                    <div class="col-2 mt-4 ml-2">
                        <mat-icon class="icon-display">add_circle</mat-icon>
                    </div>
                    <div class="col-8 mt-4">
                        <p>Add address</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 mt-4 ml-2 justify-content-center align-self-center">
                        <mat-icon class="icon-display">description</mat-icon>
                    </div>
                    <div class="col-8 mt-4">
                        <mat-form-field class="full-width">
                            <mat-label>Name or Alias</mat-label>
                            <input type="text" matInput [formControl]="nameFormControl"
                                placeholder="Ex. Someone">
                            <mat-error *ngIf="nameFormControl.hasError('minlength')">
                                Please a minimum of <strong>2 characters</strong>
                            </mat-error>
                            <mat-error *ngIf="nameFormControl.hasError('minlength')">
                                Please no more than <strong>15 characters</strong>
                            </mat-error>
                            <mat-error *ngIf="nameFormControl.hasError('required')">
                                Name/Alias is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 mt-4 ml-2 justify-content-center align-self-center">
                        <mat-icon class="icon-display">key</mat-icon>
                    </div>
                    <div class="col-8 mt-4">
                        <mat-form-field class="full-width">
                            <mat-label>Address</mat-label>
                            <input type="text" matInput [formControl]="addAddressFormControl"
                                placeholder="Ex. 0x48a1DC42AdbB87991F9e3b7C53D16E9fEF0b9ED7m">
                            <mat-error *ngIf="addAddressFormControl.hasError('pattern') && !addAddressFormControl.hasError('required')">
                                Please enter a valid address
                            </mat-error>
                            <mat-error *ngIf="addAddressFormControl.hasError('required')">
                                Address is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <button mat-raised-button color="primary" 
                        class="mt-2"
                        [disabled]="addAddressFormControl.hasError('pattern') || 
                        addAddressFormControl.hasError('required') ||
                        nameFormControl.hasError('minlength') || 
                        nameFormControl.hasError('maxlength') ||
                        nameFormControl.hasError('required')"
                        (click)="addAddress()">
                        Add
                        <mat-icon class="icon-display ml-2 mb-1">add</mat-icon>
                </button>

                <mat-divider></mat-divider>
                
                <div class="row">
                    <div class="col-2 mt-4 ml-2">
                        <mat-icon class="icon-display">list</mat-icon>
                    </div>
                    <div class="col-8 mt-4">
                        <p>Address list</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Address list</mat-label>
                            <mat-select [(ngModel)]="selectedAddress" (selectionChange)="onSelectedAddressChanged()">
                              <mat-option *ngFor="let addressObj of addressList" [value]="addressObj._address">
                                {{ addressObj.name + ' - ' + addressObj._address }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg- col-md-12 mt-lg-0 mt-5 p-3">
            <div class="rounded-lg bg-color p-2">
                <mat-card-title>Recent transactions</mat-card-title>

                <mat-divider></mat-divider>

                <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="viewport mt-5">
                    <div *ngIf="transactionList.length == 0">Transactions will appear here</div>
                    <mat-spinner *ngIf="transactionList.length == 0" [diameter]="20"></mat-spinner>

                    <div class="small" *ngFor="let transaction of transactionList">{{transaction.from + ' => ' + transaction.to}}</div>
                </cdk-virtual-scroll-viewport>

            </div>

        </div>
    </div>
</div>